@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.login-body {
    display: flex;
    flex-direction: column;   /* stack Header on top of wrapper */
    justify-content: center;  /* center vertically */
    align-items: center;      /* center horizontally */
    margin: 0;
    padding: 0;
    background:#ffffff;
}
.Header {
    margin-top: 100px;
    text-align: center;
    margin-bottom:50px;
}
.title {
    font-size: 2.5em;
    color: #008B8B;
    font-weight: 700;
}
/*login wrapper*/
.wrapper {
    width: 400px;
    margin: 40px auto;        /* centers the login box horizontally */
    padding: 20px;
    border: 2px solid #008B8B;
    border-radius: 12px;
}

/*login*/
h2 {
    font-size: 2em;
    text-align: center;
    color: #008B8B;
}

/*input boxes*/
.input-box {
    position: relative;
    width: 320px;
    margin: 30px 0;
    left:15px;
}

/*input box input eg username*/
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #008B8B;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
    color: #000;
    padding: 0 10px 0 35px;
}
/* ID and PW icon*/

.input-box .icon {
    position:relative;
    left:2px;
    top:5px;
    font-size: 2em;
    color: #008B8B;
}

.label {
    font-size: 1.5em;
    color: #008B8B;
}

.sign-in {
    position: relative;
    left: 186px;
    width: 50%;
    height: 40px;
    background: #008B8B;
    border: 3px solid #008B8B;
    border-radius:10px;
    color: white;
    font-size:1.2em;
    font-weight: 500;
    cursor: pointer;
}

.login-flash-messages {
    color: #721c24;
    margin-top:10%;
    text-align: center;
}


.register-link p{
    position: relative;
    left:190px;
    margin-top:30px;
    color:#008B8B;
    font-weight:500
}

.register-link a{
    color: black;
    text-decoration: none;
}

.submit-register{
    position: relative;
    left: 150px;
    width: 50%;
    height: 40px;
    background: #008B8B;
    border: 3px solid #008B8B;
    border-radius:10px;
    color: white;
    font-size:1.2em;
    font-weight: 500;
    cursor: pointer;
}
/* REGISTER BUTTON */
/* Modal overlay */
.modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* Modal content box */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  position: relative;
}

.register-box {
    display: flex;
    justify-content: center; 
    margin: 10% 0;           
}
.register-box input {
    width: 270px;
    height: 50px;
    background: transparent;
    border: 2px solid #008B8B;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
    color: #000;
    padding: 0 10px 0 35px;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* flash messages */ 
.flash-messages{
    display: flex;
    justify-content: center;
}
.flash-messages .error {
    justify-content: center;
    color: #721c24;
}
.flash-messages .success {
    color: #155724;
}


/* HOME PAGE  */
.home-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    background:#ffffff;
    min-height:100vh;
}

.home-header {
    margin-top: 60px;
    text-align: center;
    margin-bottom:30px;
}

.logout-btn {
    position: absolute;
    top: 20px;   
    right: 20px;    
    background-color: #008B8B;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    text-decoration: none;
}
.home-title {
    font-size: 4em;
    color: #008B8B;
    font-weight: 700;
}


.dashboard {
    width: 1500px;
    max-width: calc(100% - 40px);
    margin-bottom: 80px;
    
}

/* Welcome card */
.welcome-card {
    border: 3px solid #008B8B;
    border-radius: 12px;
    padding: 28px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 28px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.welcome-left {
    flex: 1;
}

.welcome-right {
    width: 360px;
    display:flex;
    flex-direction:column;
    gap:12px;
    align-items:center;
}

.welcome-hello {
    font-size: 1.6em;
    color: #006662;
    margin: 0 0 6px 0;
}

.welcome-sub {
    color: #333;
    margin:0 0 8px 0;
}
.excel-format {
    color: #006662;
    font-size: 1.5em;
}
.insert-excel{
    font-size:1.5em;
    color:#006662;
}
.excel-button{
    display: flex;        
    justify-content: center;  
    gap: 10px;               
    align-items: center;      
    width: 100%;              
}
.btn-insert{
    height: 50px;
    width: 400px;
    padding: 0 50px;
    background: #008B8B;
    border: 3px solid #008B8B;
    border-radius:10px;
    color: white;
    font-size:1.2em;
    font-weight: 500;
    cursor: pointer;
}
/* Flex container for two-column layout */
.sections {
    display: flex;
    gap: 20px; /* space between the two cards */
    margin-top: 20px;
}

.card {
background:#ffffff;
border:2px solid #008B8B;
border-radius:12px;
padding:16px;
min-height:220px;
}
.card h3 {
margin:0 0 12px 0;
color:#008B8B;
}
/* Graph card - wider */
.graph-card {
    flex: 2.3; /* take 3 parts of available space */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Analysis card - thinner */
.analysis-card {
    flex: 1; /* take 1 part of available space */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
